<title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href='images/favicon.ico' type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href='pages/waves/css/waves.min.css' type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href='css/bootstrap/css/bootstrap.min.css'>
    <!-- waves.css -->
    <link rel="stylesheet" href='pages/waves/css/waves.min.css' type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href='icon/themify-icons/themify-icons.css'>
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" href='css/font-awesome-n.min.css'>
    <link rel="stylesheet" type="text/css" href='css/font-awesome.min.css'>
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href='css/jquery.mCustomScrollbar.css'>
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href='css/style.css'>
    