<form action="coba" method="POST">
    <input type="text" name="kepada" placeholder="kepada">
    <input type="email" name="cc" placeholder="cc">
    <input type="text" name="subjek" placeholder="subjek">
    <input type="text" name="userId" placeholder="from">
    <input type="text" name="textarea" placeholder="textarea">
    <input type="submit" value="submit">
    <br>
    <br>
</form>